.wp-block[data-type="cdhq/content-decoration"] {
  .editor-styles-wrapper .is-layout-flow & {
    float: unset;
    z-index: 0;
  }
}
.content-decoration {
  position: relative; 
  float: unset;
  &.is-preview {
    transform: none !important;
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}