@import '../block-import'; 

.content-tabs > .acf-innerblocks-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2rem;
  transform: translateY(-150px);
}