@import '../block-import'; 

.content-tabs {
  padding: 0;
  position: relative;
  &__mobile-text {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: auto auto;
    // justify-items: center;
    // // justify-content: center;
    // align-content: space-evenly;
    // align-items: center;
    background: rgba(var(--rgb-dark), .47);
    color: white;
    $size: 90px;
    height: $size;
    margin-top: -$size;  
    p {
      grid-column: span 3;
      text-align: center;
      margin: 0;
    }
    @include responsive {
      display: none;
    }
  }
  
}
.content-tabs > .acf-innerblocks-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  
  @include responsive {
    transform: translateY(-150px);
    column-gap: 2rem; 
  }
}